.EmojiCard {
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.Card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  h2 {
    margin: 0;
  }
  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: #1c8adb !important;
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }
  }
}

.Card-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
}
