<div class="Emoji">
    <div class="Spinner" *ngIf="showSpinner">
        <mat-progress-spinner
        class="example-margin"
        [color]="accent"
        [mode]="indeterminate"
        >
        
    </mat-progress-spinner>
    </div>
    <div class="Emoji-card" *ngIf="showEmojiCard">

        <app-emoji-card [emojiName]="emojiName" [emojiCategory]="emojiCategory" [emojiGroup]="emojiGroup"
            [emojiHtmlCode]="emojiHtmlCode" [emojiunicode]="emojiunicode"
            (showCardChange)="showCardChange($event)"></app-emoji-card>
    </div>
    <div>
        <mat-form-field class="Emoji__Search">
            <mat-label>Search Emoji</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" matSort>

                <ng-container matColumnDef="emoji">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Emoji</th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.htmlCode[1] == undefined" [innerHTML]="element.htmlCode[0]"></span>
                        <span *ngIf="element.htmlCode[1] != undefined"
                            [innerHTML]="element.htmlCode[0] + element.htmlCode[1]"></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let element">{{ element.category }}</td>
                </ng-container>

                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Group</th>
                    <td mat-cell *matCellDef="let element">{{ element.group }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onEmojiClicked(row)"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">
                        No data for that filter
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <hr />
    <mat-paginator [pageSizeOptions]="[10, 50, 200]" aria-label="Incomes per page"></mat-paginator>
</div>